@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 0.3em;
}
.scroll::-webkit-scrollbar {
  height: 0.5em;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #70259b;
  border-radius: 10px;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.otf");
}

.hero {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      transparent
    ),
    url("../assets/images/hero.png");
}

.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 40px;
  width: 40px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}
